*.html
*.pdf
*.redxml
*.swp
*.txt
!includes/*
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-wimse-s2s-protocol.xml
draft-sheffer-wimse-s2s-protocol.xml
package-lock.json
report.xml
!requirements.txt
